/* 
    Created on : Feb 20, 2020, 6:24:20 PM
    Author     : Bob Trapp
*/

body{
    width: 90%;
    max-width: 960px;
    margin: auto;
    background-color: lemonchiffon;
}

h1{
    font-style: italic;
    color: brown;
    text-shadow: 1px 1px black;
}

.errorSpan{
    color: red;
    font-weight: bold;
}








